<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <style>
    th { 
      text-align: left;
    }
    td { 
      text-align: right;
    }
    body, table, tr, td {
      color: #333;
      font-family: Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857142857143
    }
    </style>
  </head>
  <body>
    <table>
      {% for d in data %}
        <tr> <th>{{ d[0] | titleize }}</th> <td>{{ d[1] }}</td> </tr>
      {% endfor %}
    </table>
    <script type="text/javascript" src="{{ xdm_e }}/atlassian-connect/all.js"></script>
  </body>
</html>
