<html>

    <head>
        <script src="{{ xdm_e }}/atlassian-connect/all.js"></script>
        <link rel="stylesheet" href="{{ xdm_e }}/atlassian-connect/all.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui.css" media="all">
        <!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie.css" media="all"><![endif]-->
        <!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie9.css" media="all"><![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui.js"></script>
        <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui-ie.js"></script><![endif]-->
    </head>

    <bodyy class="aui-page-focused">
        <div id="page">
            <section id="content" role="main">
                <div class="aui-page-panel">
                    <div class="aui-page-panel-inner">
                        <section class="aui-page-panel-content">
                            <h2>All Configured</h2>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>